<!DOCTYPE html>
<html>
<h1>
  {{title}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</h1>

<form class="ui large form segment">
  <div class="field">
    <label for="name">Name:</label>
    <input name="name" #newname placeholder="Enter first and last name">
  
  </div>
	<button (click)="search(newname)"
		class="ui positive right floated button">
		Search Email
  </button>


  
</form>

<div class="ui grid posts">
   
</div>
<div>
  <body>
    <app-class-list [classList]="classList"></app-class-list>
  </body>
  
  <body>
      <h4 class="ui header">Studen Names:</h4>
      <ul>
          <li *ngFor="let name of names">{{name}}</li>
        </ul>
  </body>
</div>

</html>


